[submodule "thirdparty/bx"]
	path = thirdparty/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "thirdparty/bimg"]
	path = thirdparty/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "thirdparty/bgfx.cmake"]
	path = thirdparty/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake-archived.git
